 /* Global styles */

html {
	box-sizing: border-box;
}

*,*:before, *:after {
	box-sizing: inherit;
}

.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 30px 0;
	height: auto;
}

.flex-container {
	display: flex;
	background: lightgrey;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
	border-radius: 10px;
}

.flex-item {
	flex: 1 1 100px;
	justify-content:space-between;
	border-style:hidden;
	border-radius: 10px;

}

header {
	background: grey;
	padding: 10px;
	margin: 0px;
	border-radius: 5px;

}

footer {
	background: grey;
	padding: 10px;
	border-radius: 5px;
}



